* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

.container {
    background: #fff;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000022;
}

/* Barra de progresso */
.progress-bar {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.progress {
    width: 25%;
    height: 8px;
    background: #c06f06;
    transition: .3s;
}

h1, h2 {
    margin-bottom: 15px;
}

fieldset {
    border: none;
    display: none;
    opacity: 0;
    transform: translateX(30px);
    transition: .4s;
}
fieldset.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-bottom: 10px;
}

input:focus, select:focus, textarea:focus {
    border-color: #c06f06;
    outline: none;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 12px 20px;
    border: none;
    background: #c06f06;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover { background: #c06f06; }

/* Mensagem final */
.hidden { display: none; }
